
body{
    background-color:#F2F2F2;

}

h1{
    font-family: 'Pacifico', cursive;
    font-size:2em;
     color:#FF9999;
}
h2:before {
  content: '•';
}
    h2{
    font-family:'Montserrat', sans-serif;
  
   
    }