
body{
    background-color:#eee;

}

h1{
    
    font-size:1.8em;
    color:#000099;
}
h2:before {
  content: '•';
}
    h2{
    font-family:'Montserrat', sans-serif;
    color:#FF9999;
    font-size:1.3em;
    }