
body{
    background-color:#F2F2F2;

}

h1{
    font-family: 'Pacifico', cursive;
    font-size:2em;
     color:#FF9999;
}
h2:before {
  content: '•';
}
    h2{
    font-family:'Montserrat', sans-serif;
  
   
    }
#products {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 35em;
}

.product {
  box-sizing: border-box;
  flex: 1%;
  padding: 1em;
}


.product img {
  max-width: 100%;
}