.photographer{
	width:150px;
	
	margin-left:800px;
}

h1{
	
	color:#00b386;
}
p{
	font-family: Arial, Helvetica, san-serif;
	color:#000066;
	
}
body{
	
	width:800px;
	background-image:./brickwall_@2X.png;
    background-repeat: repeat;
}