.photographer{
	width:150px;
	
	margin-left:600px;
}

h1{
	
	color:#00b386;
}
p{
	font-family: Arial, Helvetica, san-serif;
	color:#000066;
	
}
body{
	
	width:800px;
	background-image:url(brickwall_@2X.png);
    background-repeat: repeat;
}
.wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
nav ul{
   font-family:'Monotype Corsiva';
    text-align:center;
    list-style-type:none;
    margin:0 2px;
	padding:0px;
    display: flex;
    justify-content: space-around;
}
nav li{
    
    display:inline;
   
}
nav a:link{
    color:#000;
    text-decoration:none;
    letter-spacing:0.2px;
   
    margin:20px;
   
    font-size:1.7em;
    
}
nav a:visited{
    color:#26C9A8;
    
}
nav a:hover{
    color:#D7DF23;
}
nav a:active{
    color:#F2F2F2;
}